body{
    background: #a8c0ff;  
background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);  
background: linear-gradient(to right, #3f2b96, #a8c0ff); 
}

.introduction {
    max-width: 600px;
    margin: 0 auto; 
    padding: 20px; 
    text-align: center;
}

h1{
text-align: center;
}
